@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    --primary-color: #33211d;
    --secondary-color: #da9f5b;
    --shaded-color: #a0a0a0;
    --background-color: #fffbf2;
    --font-weight: 700;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.scroll_top {
    position: fixed;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5px 15px;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: 800;
}

/************************Start Page Heading ************************/

.page_heading {
    background: url('../img/carousel-1.jpg') center center;
    background-size: cover;
    position: relative;
    color: white;
    padding-bottom: 200px;
}

.page_heading::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #6a4e40d4;
    opacity: 0.5;
}

.page_heading .containing {
    width: 90%;
    margin: auto;
    z-index: 2;
    position: relative;
}

.page_heading h1 {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
}

.page_heading nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page_heading nav ul {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu {
    display: none;
    font-size: 1.6rem;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.menu:hover {
    color: var(--secondary-color);
}

.page_heading nav ul li {
    width: calc(100% / 6);
}

.page_heading nav ul li a {
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.page_heading nav ul li a:hover {
    color: var(--secondary-color);
}

.page_heading nav ul li i {
    margin-left: 5px;
    cursor: pointer;
}

.page_heading nav ul li a.active {
    color: var(--secondary-color);
}

.page_heading .landing {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.page_heading .landing p {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: var(--font-weight);
    text-transform: capitalize;
    margin-bottom: 0;
}

.page_heading .landing h2 {
    font-size: 7rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: -45px;
}

.page_heading .landing div {
    font-size: 2rem;
    font-weight: var(--font-weight);
    margin-top: -40px;
}

.page_heading::after {
    content: "";
    background-image: url(../img/overlay-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
}

/************************End Page Heading ************************/
/************************Start About ************************/

.about {
    background-color: var(--background-color);
    padding: 150px 0;
    text-align: center;
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100px;
    background-color: var(--secondary-color);
    top: calc(0px + 50px);
}

.special_heading h3 {
    color: var(--secondary-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    margin-bottom: 0;
}

.special_heading h2 {
    margin-top: 0;
    font-size: 3rem;
    color: var(--primary-color);
}

.about .info {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about .info>div {
    width: calc(100% / 3);
}

.about .info .image img {
    width: 100%;
}

.about .info .story {
    text-align: left;
}

.about .info .story h2,
.about .info .vision h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--primary-color);
}

.about .info .story p,
.about .info .vision div {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-top: 0;
    font-weight: 600;
    line-height: 1.3;
}

.about .info .story div {
    color: var(--shaded-color);
    line-height: 1.6;
}

.about .info .story button,
.about .info .vision button {
    color: white;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    padding: 3px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 25px;
}

.about .info .vision {
    text-align: left;
}

.about .info .vision div {
    color: var(--shaded-color);
}

.about .info .vision p {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 5px;
}

.about .info .vision p i {
    margin-right: 10px;
    color: var(--secondary-color);
}

.about .info .vision button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/************************End About ************************/
/************************Start Services ************************/

.services {
    padding: 50px 0;
    background-color: var(--background-color);
    position: relative;
    text-align: center;
}

.services::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100px;
    background-color: var(--secondary-color);
    top: calc(0px + -50px);
}

.services::after {
    content: "";
    position: absolute;
    background-image: url(/img/overlay-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -45px;
    left: 0;
    width: 100%;
    height: 45px;
}

.services .info {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.services .info>div {
    width: calc(100% / 2);
}

.services .info .info_card {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.services .info .info_card>div {
    width: calc(90% / 2);
}

.services .info .info_card .image img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.services .info .info_card .content {
    text-align: left;
    margin-left: 15px;
}

.services .info .info_card .content h2 {
    color: var(--primary-color);
    font-size: 1.7rem;
}

.services .info .info_card .content h2 i {
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.services .info .info_card .content p {
    color: var(--shaded-color);
    line-height: 1.6;
    font-weight: 600;
}

.overlay_top {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
}

/************************End Services ************************/
/************************Start Special Offer ************************/

.special_offer {
    padding: 150px 0;
    position: relative;
    text-align: center;
}

.special_offer::before {
    content: "";
    position: absolute;
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.special_offer::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #30180cd4;
    z-index: -1;
}

.special_offer h1 {
    color: var(--secondary-color);
    font-size: 5rem;
}

.special_offer h2 {
    color: white;
    font-size: 2.5rem;
    margin-top: -30px;
}

.special_offer p {
    margin-top: -5px;
    color: white;
    font-size: 1.6rem;
}

.special_offer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special_offer .contact input[type="email"] {
    padding: 10px 20px;
    font-size: 1.5rem;
    height: 65px;
    border: none;
    outline: none;
}

.special_offer .contact input[type="email"]::placeholder {
    color: var(--shaded-color);
}

.special_offer .contact input[type="submit"] {
    padding: 10px 20px;
    height: 65px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

.overlay_bottom_offer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/************************End Special Offer ************************/
/************************Start Pricing ************************/

.pricing {
    background-color: var(--background-color);
    text-align: center;
    padding: 150px 0;
    position: relative;
}

.pricing::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100px;
    background-color: var(--secondary-color);
    top: calc(0px + 50px);
}

.pricing .variety {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: left;
}

.pricing .variety .hot,
.pricing .variety .cold {
    width: 45%;
}

.pricing .variety .hot h2,
.pricing .variety .cold h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.pricing .variety .coffee {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.pricing .variety .coffee img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pricing .variety .coffee .content::before {
    content: "$5";
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    font-weight: 700;
    width: 35px;
    top: 30px;
    left: -50px;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pricing .variety .coffee .content {
    margin-left: 20px;
    position: relative;
}

.pricing .variety .coffee .content h3 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: -20px;
}

.pricing .variety .coffee .content p {
    line-height: 1.6;
    color: var(--shaded-color);
}


/************************End Pricing ************************/
/************************Start Reservation ************************/

.reservation {
    background-color: var(--background-color);
}

.reservation .container {
    background-image: url(/img/bg.jpg);
    position: relative;
    z-index: 1;
}


.reservation .container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #30180cd4;
    z-index: -2;
}

.reservation .container::after {
    content: "";
    position: absolute;
    background-image: url(/img/overlay-bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
}

.reservation .info {
    display: flex;
    position: relative;
}

.reservation .info .content,
.reservation .info .book_table {
    width: 50%;
    padding: 100px 30px 30px;
}

.reservation .info .content h1 {
    color: var(--secondary-color);
    font-size: 4rem;
}

.reservation .info .content h3 {
    color: white;
    font-size: 2rem;
    margin-top: -25px;
}

.reservation .info .content div {
    color: white;
    line-height: 1.6;
    margin-top: 20px;
}

.reservation .info .content p {
    color: white;
    font-size: 1.2rem;
}

.reservation .info .content p i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 10px;
}

.reservation .info .book_table {
    text-align: center;
    position: relative;
}

.reservation .info .book_table::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #301c10d4;
    z-index: -1;
}

.reservation .info .book_table h2 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 15px;
}

.reservation .info .book_table form {
    display: flex;
    flex-direction: column;
}

.reservation .info .book_table form input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

.reservation .info .book_table form input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

/************************End Reservation ************************/
/************************Start Testimonials ************************/

.testimonials {
    background-color: var(--background-color);
    padding: 150px 0;
    position: relative;
    text-align: center;
}

.testimonials::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100px;
    background-color: var(--secondary-color);
    top: calc(0px + 50px);
}

.testimonials .clients {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.testimonials .clients .client {
    width: calc(80% / 3);
    text-align: left;
}

.testimonials .clients .client .profile {
    display: flex;
}

.testimonials .clients .client .profile img {
    margin-right: 15px;
}

.testimonials .clients .client .profile h2 {
    color: var(--primary-color);
}

.testimonials .clients .client .profile p {
    margin-top: 0;
    color: var(--shaded-color);
}

.testimonials .clients .client p {
    line-height: 1.6;
    color: var(--shaded-color);
}

.testimonials .dots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.testimonials .dots .dot {
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;
}

.testimonials .dots .dot.active {
    width: 40px;
    background-color: #372929;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/************************End Testimonials ************************/
/************************Start Contact us ************************/

.contact_us {
    background-image: url(/img/bg.jpg);
    background-size: cover;
    position: relative;
}

.contact_us::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #30180cd4;
}

.contact_us::after {
    content: "";
    position: absolute;
    background-image: url(/img/overlay-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
}

.contact_us .containing {
    width: 90%;
    margin: auto;
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact_us .containing>div {
    width: calc(80% / 4);
    margin-bottom: 50px;
}

.contact_us .containing h2 {
    font-size: 1.4rem;
    letter-spacing: 4px;
    color: white;
    text-transform: uppercase;
}

.contact_us .containing .in_touch .items {
    margin-top: 10px;
}

.contact_us .containing .in_touch a {
    color: white;
    display: block;
    padding-top: 10px;
}

.contact_us .containing .in_touch a i {
    margin-right: 10px;
}

.contact_us .containing .follow_us p {
    color: white;
    line-height: 1.6;
}

.contact_us .containing .follow_us .links a {
    color: white;
}

.contact_us .containing .follow_us .links a i {
    font-size: 1.5rem;
    margin-right: 10px;
    border: 1px solid white;
    padding: 10px;
}

.contact_us .containing .open_hours h2 {
    margin-bottom: 15px;
}

.contact_us .containing .open_hours p {
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.contact_us .containing .newsletter p {
    color: white;
    line-height: 1.6;
}

.contact_us .containing .newsletter form {
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.contact_us .containing .newsletter form input {
    padding: 15px 10px;
    max-width: 100%;
}

.contact_us .containing .newsletter form input::placeholder {
    color: var(--shaded-color);
}

.contact_us .containing .newsletter form input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-weight: 700;
}

.contact_us .footer {
    padding: 30px;
    text-align: center;
    position: relative;
}

.contact_us .footer p {
    color: white;
    margin: 0;
}

.contact_us .footer p span {
    color: var(--secondary-color);
}

/************************End Contact us ************************/
/************************Start Media Queries ************************/

@media (min-width: 801px) and (max-width: 1100px) {
    .page_heading nav ul {
        width: 300px;
    }

    .page_heading nav ul li {
        width: calc(100% / 3);
    }

    .services .info .info_card {
        display: block;
    }

    .contact_us .containing>div {
        width: calc(80% / 2);
    }
}

@media (max-width: 800px) {
    .page_heading nav ul {
        width: 200px;
    }

    .page_heading nav ul li {
        width: calc(100% / 2);
    }

    .about .info>div {
        width: calc(100% / 1);
        margin-bottom: 30px;
    }

    .services .info>div {
        width: calc(100% / 1);
    }

    .pricing .variety {
        display: block;
    }

    .pricing .variety .hot,
    .pricing .variety .cold {
        width: 100%;
    }

    .pricing .variety .hot h2,
    .pricing .variety .cold h2 {
        color: var(--secondary-color);
    }

    .testimonials .clients .client {
        width: calc(100% / 1);
    }

    .contact_us .containing>div {
        width: calc(100% / 1);
    }

    .services .info>div {
        width: initial;
    }
}

@media (max-width: 550px) {
    .page_heading nav ul {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media (max-width: 900px) {
    :root {
        font-size: 14px;
    }

    .services .info .info_card>div {
        width: initial;
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 12px;
    }
}

/******************************* Special Medias **************************/

@media (max-width: 1100px) {
    .about .info .image {
        display: none;
    }
}

@media (max-width: 650px) {
    .reservation .info {
        display: block;
    }

    .reservation .info .content,
    .reservation .info .book_table {
        width: 100%;
    }
}

/************************End Media Queries ************************/